body {
    background-image: url(background.jpg);
    font-family: cursive;
}

header{
    background-color: antiquewhite;
    padding: 10px;
}

section{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    align-items: center;
}

button{
    background-color: palevioletred; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    border: none;
}

button:hover{
    background-color: rgb(164, 36, 237);
    box-shadow: 0 12px 17px rgba(35, 4, 54, 0.753);
    cursor: pointer;
    text-decoration: underline;
    color: antiquewhite;

}

form {
    border-color: black;
    border: 2px solid;
}

.form1{
    background-color: rgb(211, 169, 245);
}

.form2{
    background-color: rgb(79, 201, 231);
}